<h1>Random Results</h1>

<dl>
  <dt>Minimum</dt>
  <dd><%= @min %></dd>

<dt>Maximum</dt>
<dd><%= @max %></dd>

<dt>Random Number</dt>
<dd><%= @rand %></dd>

<p></p>

<dt> <a href ="/random/new">Pick another random number</a> </dt>


</dl>
