
<form action ="/square_root/results">
  <div>
    <label for="square_input">
    Enter a number
    </label>
  </div>

  <div>
    <input id="square_input" type="text" name="user_squareroot" placeholder="What number do you want?">
  </div>

  <div>
    <button type="submit">Calculate square root</button>
  </div> 
   
</form>
