
<form action ="/square/results">
  <div>
    <label for="square_input">
    Enter a number
  </div>

  <div>
    </label>
    <input id="square_input" type="text" name="user_square" placeholder="What number do you want?">
  </div>

  <div>
    <button type="submit">Calculate square</button>
  </div> 
   
</form>
